</table>
<h2>New Dojo</h2>

<form action = "/dojos" method="post">
<%# patch and delete require additional hidden input %>
<input name="authenticity_token" value=<%=form_authenticity_token %> type="hidden">

<table class="table table-striped table-bordered">
    <tr><td>Branch:</td>
    <td><input type="text" name="branch"></td></tr>

    <tr><td>Street:</td>
    <td><input type="text" name="street"></td></tr>

    <tr><td>City:</td>
    <td><input type="text" name="city"></td></tr>

    <tr><td>State:</td>
    <td><input type="text" name="state"></td></tr>
</table>

<input type="submit" class="btn btn-primary btn-sm" value="Create">
</form>

<a href="/dojos">Go Back</a>